body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.names {
  font-size: 20vmin;
  color: black;
  text-align: center;
}

.price {
  font-size: 20vmin;
  text-align: center;
}

.price-time {
  font-size: 10vmin;
  text-align: center;
}

.up {
  color: #34a853;
}

.down {
  color: #d93025;
}